{
{# MTU is needed in OpenStack VMs #}
    "mtu": {{ ansible_default_ipv4.mtu }},
{# sets logging into systemd-journald and syslog #}
    "log-driver": "journald",
    "log-opts": {
{# uses container name as its syslog tag (instead of id) #}
        "tag": "{{ '{{' }}.Name}}"
    }
}