- name: "install ssl-cert"
  apt:
    name: ssl-cert

- name: "create {{ perun_certs_dir }} directory"
  file:
    path: "{{ perun_certs_dir }}"
    state: directory

- name: "use certbot certificates"
  when: perun_use_certbot_certificates
  block:
    - name: "collect DNS names for multicert"
      loop: "{{ other_certs }}"
      loop_control:
        loop_var: cert_item
        label: "{{ cert_item.prefix }}"
      when: lookup('vars', cert_item.cond)
      set_fact:
        perun_certbot_alt_hostnames: "{{ perun_certbot_alt_hostnames + [ lookup('vars', cert_item.hostname) ] + lookup('vars', cert_item.aliases) }}"

    - name: "add rpc aliases for multicert"
      set_fact:
        perun_certbot_alt_hostnames: "{{ perun_certbot_alt_hostnames + perun_rpc_hostname_aliases }}"

    - name: "collected DNS names"
      debug:
        var: perun_certbot_alt_hostnames

    - name: "create certbot cert for all DNS names"
      include_role:
        name: cesnet.certbot_certs
        apply:
          tags: [ 'perun_certs' ]
      vars:
        certbot_certname: multi
        certbot_hostname: "{{ perun_rpc_hostname }}"
        certbot_alt_hostnames: "{{ perun_certbot_alt_hostnames }}"
        certbot_install_hooks: no
        certbot_account_options: "{{ perun_certbot_account_options }}"

    - name: "create perun_prehook.sh"
      copy:
        dest: /etc/letsencrypt/renewal-hooks/pre/perun_prehook.sh
        content: |2
          #!/bin/bash
          docker stop perun_apache
        mode: '0755'

    - name: "create perun_posthook.sh"
      copy:
        dest: /etc/letsencrypt/renewal-hooks/post/perun_posthook.sh
        content: |2
          #!/bin/bash
          docker stop perun_rpc
          {% if perun_engine_enabled %}
          docker stop perun_engine
          {% endif %}
          {% if perun_ldapc_enabled %}
          docker stop perun_ldapc
          {% endif %}
          {% if perun_auditlogger_enabled %}
          docker stop perun_auditlogger
          {% endif %}
          {% if perun_postgres_local %}
          systemctl restart postgresql
          {% endif %}
          {% if perun_ldap_local %}
          systemctl restart slapd
          {% endif %}
          systemctl restart syslog-ng
          cp /etc/perun/ssl/hostcert.pem /etc/perun/engine/ssl/perun-send.pem
          cp /etc/perun/ssl/hostkey.pem /etc/perun/engine/ssl/perun-send.key
          cp /etc/perun/ssl/hostchain.pem /etc/perun/engine/ssl/perun-send.chain
          docker start perun_rpc
          {% if perun_engine_enabled %}
          docker start perun_engine
          {% endif %}
          {% if perun_ldapc_enabled %}
          docker start perun_ldapc
          {% endif %}
          {% if perun_auditlogger_enabled %}
          docker start perun_auditlogger
          {% endif %}
          docker start perun_apache
          docker restart portainer
        mode: '0755'

    - name: "create link to host key"
      file:
        state: link
        src: "/etc/letsencrypt/live/multi/privkey.pem"
        dest: "{{ perun_certificate_key_file }}"
        force: yes
      notify:
        - "restart perun_apache"
        - "restart portainer"
        - "restart ldap"
        - "restart postgres"

    - name: "create link to host cert"
      file:
        state: link
        src: "/etc/letsencrypt/live/multi/cert.pem"
        dest: "{{ perun_certificate_file }}"
        force: yes

    - name: "create link to host chain"
      file:
        state: link
        src: "/etc/letsencrypt/live/multi/chain.pem"
        dest: "{{ perun_certificate_chain_file }}"
        force: yes

    - name: "create link to host full chain"
      file:
        state: link
        src: "/etc/letsencrypt/live/multi/fullchain.pem"
        dest: "{{ perun_certificate_fullchain_file }}"
        force: yes

    - name: "clean old links"
      block:
        - name: "clean old keys links"
          loop: "{{ ['api', 'altapi', 'apicert', 'altapicert', 'cert', 'admin', 'profile', 'pwdreset', 'publications', 'consolidator', 'linker'] | product(['key', 'cert', 'chain']) | list }}"
          loop_control:
            label: "{{ item[0] }}{{ item[1] }}.pem"
          file:
            state: absent
            path: "{{ perun_certs_dir }}/{{ item[0] }}{{ item[1] }}.pem"

- name: "check that cert and key belong together"
  when: not perun_use_certbot_certificates and not perun_use_remote_certs
  block:
    - name: "install python prerequisites"
      apt:
        name:
          - python3-cryptography
          - python3-idna
        state: present

    - name: "read cert from file on the controlling host"
      community.crypto.x509_certificate_info:
        content: "{{ lookup('ansible.builtin.file', perun_instance_hostname + '/hostcert.pem' ) }}"
      register: cert

    - name: "read key from file on the controlling host"
      community.crypto.openssl_privatekey_info:
        content: "{{ lookup('ansible.builtin.file', perun_instance_hostname + '/hostkey.pem' ) }}"
      register: privkey

    - name: "read chain from file on the controlling host"
      community.crypto.x509_certificate_info:
        content: "{{ lookup('ansible.builtin.file', perun_instance_hostname + '/hostchain.pem' ) }}"
      register: chain

    - name: "match certificate and private key"
      assert:
        that: cert.public_key_fingerprints.md5 == privkey.public_key_fingerprints.md5
        fail_msg: >-
          Certificate in files/{{ perun_instance_hostname }}/hostcert.pem
          and and private key in files/{{ perun_instance_hostname }}/hostkey.pem
          DO NOT match!
        success_msg: "cert and private key match"

    - name: "match certificate and chain"
      assert:
        that: cert.issuer == chain.subject
        fail_msg: >-
          Certificate in files/{{ perun_instance_hostname }}/hostcert.pem
          and chain in files/{{ perun_instance_hostname }}/hostchain.pem
          DO NOT match!
          Certificate issuer is {{ cert.issuer.commonName}} and
          first subject in chain is {{ chain.subject.commonName }}
        success_msg: "cert and chain match"

- name: "use issued certificates"
  when: not perun_use_certbot_certificates
  vars:
    # define paths to source certs (default locally in files/{{ perun_instance_hostname }})
    perun_certs_hostcert_path: "{{ perun_instance_hostname }}/hostcert.pem"
    perun_certs_hostkey_path: "{{ perun_instance_hostname }}/hostkey.pem"
    perun_certs_hostchain_path: "{{ perun_instance_hostname }}/hostchain.pem"
  block:
    - name: "assert that host cert paths are defined when remote certs are used"
      when: perun_use_remote_certs
      assert:
        that:
          - perun_remote_certs.host is defined
          - perun_remote_certs.host.cert | length > 0
          - perun_remote_certs.host.key | length > 0
          - perun_remote_certs.host.chain | length > 0
        fail_msg: "Remote certs paths are NOT defined for 'host' cert in 'perun_remote_certs'."
        success_msg: "Remote certs paths are defined for 'host' cert in 'perun_remote_certs'."

    - name: "re-set cert path if remote host cert is used"
      when: perun_use_remote_certs
      set_fact:
        perun_certs_hostcert_path: "{{ perun_remote_certs.host.cert }}"
        perun_certs_hostkey_path: "{{ perun_remote_certs.host.key }}"
        perun_certs_hostchain_path: "{{ perun_remote_certs.host.chain }}"

    - name: "set host certificate"
      copy:
        src: "{{ perun_certs_hostcert_path }}"
        dest: "{{ perun_certificate_file}}"
        owner: root
        group: root
        mode: 0644
        remote_src: "{{ perun_use_remote_certs }}"
      register: certfile
      notify:
        - "restart perun_apache"
        - "restart ldap"
        - "restart postgres"

    - name: "set host key"
      copy:
        src: "{{ perun_certs_hostkey_path }}"
        dest: "{{ perun_certificate_key_file }}"
        owner: root
        group: ssl-cert
        mode: 0640
        remote_src: "{{ perun_use_remote_certs }}"
      notify:
        - "restart perun_apache"
        - "restart portainer"
        - "restart ldap"
        - "restart postgres"

    - name: "set host chain"
      copy:
        src: "{{ perun_certs_hostchain_path }}"
        dest: "{{ perun_certificate_chain_file }}"
        owner: root
        group: root
        mode: 0644
        remote_src: "{{ perun_use_remote_certs }}"
      notify:
        - "restart perun_apache"
        - "restart ldap"
        - "restart postgres"

    - name: "detect whether full chain is link"
      stat:
        path: "{{ perun_certificate_fullchain_file }}"
      register: fclnk

    - name: "unlink {{ perun_certificate_fullchain_file }}"
      file:
        state: absent
        path: "{{ perun_certificate_fullchain_file }}"
      when: fclnk.stat.exists and fclnk.stat.islnk

    - name: "create file with cert header"
      when: certfile.changed
      shell:
        cmd: >-
          openssl x509
          -noout -nameopt compat -subject -issuer -dates -ext subjectAltName
          -in {{ perun_certificate_file}}
          >{{ perun_certs_dir }}/cert_header.txt

    - name: "create file with a line break to separate certificate from chain"
      copy:
        dest: "{{ perun_certs_dir }}/chain_header.txt"
        content: |2
          
          # chain

    - name: "assemble full chain (for portainer)"
      shell:
        chdir: "{{ perun_certs_dir }}"
        cmd: >-
          cat
          {{ perun_certs_dir }}/cert_header.txt
          {{ perun_certificate_file}}
          {{ perun_certs_dir }}/chain_header.txt
          {{ perun_certificate_chain_file }}
          >{{ perun_certificate_fullchain_file }}
      when: certfile.changed
      notify: "restart portainer"

    - name: "assert that cert paths are defined when remote certs are used for 'other_certs'"
      when: perun_use_remote_certs and lookup('vars', item.cond) and not lookup('vars', item.same)
      loop: "{{ other_certs }}"
      loop_control:
        label: "{{ item.prefix }}"
      assert:
        that:
          - item.prefix in perun_remote_certs
          - perun_remote_certs[item.prefix].cert | length > 0
          - perun_remote_certs[item.prefix].key | length > 0
          - perun_remote_certs[item.prefix].chain | length > 0
        fail_msg: "Remote certs paths are NOT defined for '{{ item.prefix }}' cert in 'perun_remote_certs'."
        success_msg: "Remote certs paths are defined for '{{ item.prefix }}' cert in 'perun_remote_certs'."

    - name: "set other certificates"
      loop: "{{ other_certs }}"
      loop_control:
        label: "{{ item.prefix }}"
      when: lookup('vars', item.cond) and not lookup('vars', item.same)
      copy:
        src: "{{ (perun_remote_certs[item.prefix].cert if perun_use_remote_certs and item.prefix in perun_remote_certs else (perun_instance_hostname ~ '/' ~ ('host' if lookup('vars', item.same) else item.prefix ~ 'cert.pem'))) }}"
        dest: "{{ perun_certs_dir }}/{{ item.prefix }}cert.pem"
        owner: root
        group: root
        mode: 0644
        remote_src: "{{ perun_use_remote_certs }}"
      notify:
        - "restart perun_apache"

    - name: "set other keys"
      loop: "{{ other_certs }}"
      loop_control:
        label: "{{ item.prefix }}"
      when: lookup('vars', item.cond) and not lookup('vars', item.same)
      copy:
        src: "{{ (perun_remote_certs[item.prefix].key if perun_use_remote_certs and item.prefix in perun_remote_certs else (perun_instance_hostname ~ '/' ~ ('host' if lookup('vars', item.same) else item.prefix ~ 'key.pem'))) }}"
        dest: "{{ perun_certs_dir }}/{{ item.prefix }}key.pem"
        owner: root
        group: ssl-cert
        mode: 0640
        remote_src: "{{ perun_use_remote_certs }}"
      notify:
        - "restart perun_apache"

    - name: "set other chains"
      loop: "{{ other_certs }}"
      loop_control:
        label: "{{ item.prefix }}"
      when: lookup('vars', item.cond) and not lookup('vars', item.same)
      copy:
        src: "{{ (perun_remote_certs[item.prefix].chain if perun_use_remote_certs and item.prefix in perun_remote_certs else (perun_instance_hostname ~ '/' ~ ('host' if lookup('vars', item.same) else item.prefix ~ 'chain.pem'))) }}"
        dest: "{{ perun_certs_dir }}/{{ item.prefix }}chain.pem"
        owner: root
        group: root
        mode: 0644
        remote_src: "{{ perun_use_remote_certs }}"
      notify:
        - "restart perun_apache"

    - name: "clean unnecessary old links"
      block:
        - name: "clean old links to keys"
          loop: "{{ other_certs }}"
          loop_control:
            label: "{{ item.prefix }}"
          when: lookup('vars', item.cond) and lookup('vars', item.same)
          file:
            path: "{{ perun_certs_dir }}/{{ item.prefix }}key.pem"
            state: absent

        - name: "clean old links to certs"
          loop: "{{ other_certs }}"
          loop_control:
            label: "{{ item.prefix }}"
          when: lookup('vars', item.cond) and lookup('vars', item.same)
          file:
            path: "{{ perun_certs_dir }}/{{ item.prefix }}cert.pem"
            state: absent

        - name: "clean old links to chains"
          loop: "{{ other_certs }}"
          loop_control:
            label: "{{ item.prefix }}"
          when: lookup('vars', item.cond) and lookup('vars', item.same)
          file:
            path: "{{ perun_certs_dir }}/{{ item.prefix }}chain.pem"
            state: absent

- name: "prereq for docker_container_info task"
  apt:
    name: python3-docker
    state: present

- name: "detect perun_apache existence for handler"
  docker_container_info:
    name: perun_apache
  ignore_errors: yes
  register: perun_apache_container

- name: "detect portainer existence for handler"
  docker_container_info:
    name: portainer
  ignore_errors: yes
  register: portainer_container
