- name: "get container info"
  docker_container_info:
    name: perun_rpc
  register: perun_rpc_container

- name: "create /etc/perun/apache/sites-enabled directory"
  file:
    path: /etc/perun/apache/sites-enabled
    state: directory

- name: "create /etc/perun/apache/maintenance directory"
  file:
    path: /etc/perun/apache/maintenance
    state: directory

- name: "install prerequisite for htpasswd task"
  package:
    name: python3-passlib
    state: present

- name: "add common passwords into /etc/perun/apache/perun.passwd"
  htpasswd:
    path: "/etc/perun/apache/perun.passwd"
    name: "{{ item.key }}"
    password: "{{ item.value }}"
    owner: root
    group: root
    mode: 0644
  loop: "{{ perun_apache_basicAuth_common|dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  notify: "restart perun_apache"

- name: "add additional passwords into /etc/perun/apache/perun.passwd"
  htpasswd:
    path: "/etc/perun/apache/perun.passwd"
    name: "{{ item.key }}"
    password: "{{ item.value }}"
    owner: root
    group: root
    mode: 0644
  loop: "{{ perun_apache_basicAuth_additional|dict2items }}"
  loop_control:
    label: "{{ item.key }}"

- name: "install HTML pages for maintenance (contain perun_email {{ perun_email }})"
  template:
    src: "{{ item }}"
    dest: /etc/perun/apache/maintenance/
    mode: 0644
  with_fileglob:
    - "templates/maintenance/*"

- name: "create dir /etc/perun/apache/img for logo and other images"
  file:
    state: directory
    path: /etc/perun/apache/img
    mode: '0755'

- name: "copy logo and other images"
  copy:
    src: "{{ item }}"
    dest: /etc/perun/apache/img
  with_fileglob:
    - "{{ perun_instance_hostname }}/img/*"

- name: "create dir /etc/perun/apache/wayf for wayf configs"
  when: perun_apache_enable_wayf_config
  file:
    state: directory
    path: /etc/perun/apache/wayf
    mode: '0755'

- name: "copy wayf config"
  when: perun_apache_enable_wayf_config
  copy:
    src: "{{ item }}"
    dest: /etc/perun/apache/wayf
  with_fileglob:
    - "{{ perun_instance_hostname }}/wayf/*"

# TODO - remove folder when perun_apache_enable_wayf_config == false ?

- name: "create dir /etc/perun/apache/well-known"
  file:
    state: directory
    path: /etc/perun/apache/well-known
    mode: '0755'

- name: "create /.well-known/security.txt file"
  template:
    src: security.txt.j2
    dest: /etc/perun/apache/well-known/security.txt

# docs at https://perunaai.atlassian.net/wiki/spaces/STRIBOG/pages/3440714/Configuration+of+new+GUI+applications
- name: "generate /etc/perun/apache/instanceConfig.json"
  when: perun_ngui_admin_enabled
  template:
    src: instance_configs/instanceConfig.json.j2
    dest: /etc/perun/apache/instanceConfig.json

- name: "generate /etc/perun/apache/profileInstanceConfig.json"
  when: perun_ngui_profile_enabled
  template:
    src: instance_configs/profileInstanceConfig.json.j2
    dest: /etc/perun/apache/profileInstanceConfig.json

- name: "generate /etc/perun/apache/consolidatorInstanceConfig.json"
  when: perun_ngui_consolidator_enabled
  template:
    src: instance_configs/consolidatorInstanceConfig.json.j2
    dest: /etc/perun/apache/consolidatorInstanceConfig.json

- name: "generate /etc/perun/apache/linkerInstanceConfig.json"
  when: perun_ngui_linker_enabled
  template:
    src: instance_configs/linkerInstanceConfig.json.j2
    dest: /etc/perun/apache/linkerInstanceConfig.json

- name: "generate /etc/perun/apache/pwdresetInstanceConfig.json"
  when: perun_ngui_pwdreset_enabled
  template:
    src: instance_configs/pwdresetInstanceConfig.json.j2
    dest: /etc/perun/apache/pwdresetInstanceConfig.json

- name: "generate /etc/perun/apache/publicationsInstanceConfig.json"
  when: perun_ngui_publications_enabled
  template:
    src: instance_configs/publicationsInstanceConfig.json.j2
    dest: /etc/perun/apache/publicationsInstanceConfig.json

- name: "create /etc/perun/apache/sites-enabled/000-perun.conf"
  template:
    src: sites-enabled/perun.conf.j2
    dest: /etc/perun/apache/sites-enabled/000-perun.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-cert.conf"
  when: perun_apache_cert_hostname_enabled
  template:
    src: sites-enabled/perun-cert.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-cert.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "clean old file for perun-admin.conf"
  file:
    path: /etc/perun/apache/sites-enabled/perun-ngui.conf
    state: absent

- name: "create /etc/perun/apache/sites-enabled/perun-admin.conf"
  when: perun_ngui_admin_enabled
  template:
    src: sites-enabled/perun-admin.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-admin.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-api.conf"
  when: perun_api_enabled
  template:
    src: sites-enabled/perun-api.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-api.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-api-alt.conf"
  when: perun_api_alternative_enabled
  template:
    src: sites-enabled/perun-api.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-api-alt.conf
    owner: root
    group: root
    mode: '0400'
  vars:
    perun_api_hostname: "{{ perun_api_alternative_hostname }}"
    perun_api_hostname_aliases: "{{ perun_api_alternative_hostname_aliases }}"
    perun_api_tls_cert_same_as_host: "{{ perun_api_alternative_tls_cert_same_as_host }}"
    perun_apache_oauth_introspection_url: "{{ perun_apache_oauth_alternative_introspection_url }}"
    perun_apache_oauth_client_id: "{{ perun_apache_oauth_alternative_client_id }}"
    perun_apache_oauth_client_secret: "{{ perun_apache_oauth_alternative_client_secret }}"
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-api-cert.conf"
  when: perun_api_cert_enabled
  template:
    src: sites-enabled/perun-api-cert.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-api-cert.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-api-cert-alt.conf"
  when: perun_api_cert_alternative_enabled
  template:
    src: sites-enabled/perun-api-cert.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-api-cert-alt.conf
    owner: root
    group: root
    mode: '0400'
  vars:
    perun_api_cert_hostname: "{{ perun_api_cert_alternative_hostname }}"
    perun_api_cert_hostname_aliases: "{{ perun_api_cert_alternative_hostname_aliases }}"
    perun_api_cert_tls_cert_same_as_host: "{{ perun_api_cert_alternative_tls_cert_same_as_host }}"
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-profile.conf"
  when: perun_ngui_profile_enabled
  template:
    src: sites-enabled/perun-profile.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-profile.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-pwdreset.conf"
  when: perun_ngui_pwdreset_enabled
  template:
    src: sites-enabled/perun-pwdreset.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-pwdreset.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-publications.conf"
  when: perun_ngui_publications_enabled
  template:
    src: sites-enabled/perun-publications.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-publications.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-consolidator.conf"
  when: perun_ngui_consolidator_enabled
  template:
    src: sites-enabled/perun-consolidator.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-consolidator.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"

- name: "create /etc/perun/apache/sites-enabled/perun-linker.conf"
  when: perun_ngui_linker_enabled
  template:
    src: sites-enabled/perun-linker.conf.j2
    dest: /etc/perun/apache/sites-enabled/perun-linker.conf
    owner: root
    group: root
    mode: '0400'
  notify: "restart perun_apache"


- name: "set Kerberos keytab"
  copy:
    src: "{{ perun_instance_hostname }}/krb5.http.keytab"
    dest: "/etc/perun/apache/krb5.http.keytab"
    owner: www-data
    group: root
    mode: 0400
  when:  perun_apache_kerberos_enabled

- name: "create directory for shibboleth cache"
  file:
    path: /var/log/apache2/shibboleth_cache
    state: directory
    owner: _shibd
    group: _shibd
    mode: '0755'

- name: "create /etc/perun/apache/shibboleth directory"
  file:
    path: /etc/perun/apache/shibboleth
    state: directory

- name: "create symbolic link /etc/shibboleth"
  file:
    state: link
    src: /etc/perun/apache/shibboleth
    path: /etc/shibboleth

- name: "create attribute-map.xml"
  template:
    src:  shibboleth/attribute-map.xml.j2
    dest: /etc/perun/apache/shibboleth/attribute-map.xml
  notify: "restart perun_apache"

- name: "create attribute-policy.xml"
  template:
    src:  shibboleth/attribute-policy.xml.j2
    dest: /etc/perun/apache/shibboleth/attribute-policy.xml
  notify: "restart perun_apache"

- name: "create shibboleth2.xml"
  template:
    src:  shibboleth/shibboleth2.xml.j2
    dest: /etc/perun/apache/shibboleth/shibboleth2.xml
  notify: "restart perun_apache"

- name: "create sp-key.pem"
  copy:
    src: "{{ lookup('first_found', findme) }}"
    dest: /etc/perun/apache/shibboleth/sp-key.pem
    owner: _shibd
    group: _shibd
    mode: '0400'
  vars:
    findme:
      - "files/{{ perun_instance_hostname }}/sp-key.pem"
      - "files/sp-key.pem"

- name: "create sp-cert.pem"
  copy:
    src: "{{ lookup('first_found', findme) }}"
    dest: /etc/perun/apache/shibboleth/sp-cert.pem
    owner: _shibd
    group: _shibd
    mode: '0444'
  vars:
    findme:
      - "files/{{ perun_instance_hostname }}/sp-cert.pem"
      - "files/sp-cert.pem"

- name: "create apache_custom_vars containing changes to apache2.conf"
  copy:
    dest: /etc/perun/apache/apache_custom_vars.conf
    content: "{{ perun_apache_custom_vars }}"
  when: perun_apache_custom_vars is defined and perun_apache_custom_vars | length > 0
  notify: "restart perun_apache"

- name: "create apache_stapling.conf"
  when: perun_apache_ocsp_stapling
  copy:
    dest: /etc/perun/apache/apache_stapling.conf
    mode: '0644'
    content: |2
      # OCSP Stapling
      SSLUseStapling          on
      SSLStaplingResponderTimeout 5
      SSLStaplingReturnResponderErrors off
      SSLStaplingCache        shmcb:${APACHE_RUN_DIR}/ocsp(32768)
  notify: "restart perun_apache"

- name: "remove apache_stapling.conf"
  when: not perun_apache_ocsp_stapling
  file:
    path: /etc/perun/apache/apache_stapling.conf
    state: absent
  notify: "restart perun_apache"

- name: "create additional files for Shibboleth"
  copy:
    src: "{{ item }}"
    dest: /etc/perun/apache/shibboleth/
    owner: root
    group: root
    mode: 0444
  with_fileglob:
    - "{{ perun_instance_hostname }}/shibboleth/*"
  notify: "restart perun_apache"

- name: "detect apache_init.sh on controller machine"
  delegate_to: localhost
  ansible.builtin.stat:
    path: "files/{{ perun_instance_hostname }}/apache_init.sh"
  register: apache_init

- name: "copy apache_init.sh"
  when: apache_init.stat.exists
  copy:
    src: "files/{{ perun_instance_hostname }}/apache_init.sh"
    dest: /etc/perun/apache/apache_init.sh
    owner: root
    group: root
    mode: '0644'

- name: "install IGTF CAs certificates"
  when: perun_apache_igtf_certs
  include_role:
    name: cesnet.igtf_cas
    apply:
      tags:
        - perun_apache
        - perun_config

- name: "container only"
  tags:
    - perun_apache_container
  block:
    - name: "list normal apache mounts"
      set_fact:
        apache_mounts:
          - { type: volume, source: apache_logs, target: /var/log/apache2 }
          - { type: bind, source: /etc/perun/ssl, target: /etc/perun/ssl, read_only: yes }
          - { type: bind, source: /etc/perun/apache, target: /etc/perun/apache, read_only: yes }
          # mount tmpfs to /tmp for faster performance https://docs.docker.com/storage/tmpfs/
          - { type: tmpfs, target: /tmp }
          # bind syslog and journal from container to host, see https://www.projectatomic.io/blog/2016/10/playing-with-docker-logging/
          - { type: bind, source: /dev/log, target: /dev/log }
          - { type: bind, source: /var/run/systemd/journal/socket, target: /var/run/systemd/journal/socket }

    - name: "add /etc/grid-security to apache mounts"
      when: perun_apache_igtf_certs
      set_fact:
        apache_mounts: "{{ apache_mounts + [ { 'type': 'bind', 'source': '/etc/grid-security', 'target': '/etc/grid-security', 'read_only': 'yes' } ] }}"

    - name: "add perun_apache_mounts_additional to apache mounts"
      when: perun_apache_mounts_additional|length > 0
      set_fact:
        apache_mounts: "{{ apache_mounts + perun_apache_mounts_additional }}"

    - name: "add certbot dirs to apache mounts"
      when: perun_use_certbot_certificates
      set_fact:
        apache_mounts: "{{ apache_mounts + perun_certbot_mounts }}"

    - name: "get perun_net info"
      docker_network_info:
        name: perun_net
      register: perun_net_info

    - name: "create Perun Apache container"
      docker_container:
        name: perun_apache
        hostname: perun-apache
        image: "{{ perun_container_registry }}/perun_apache:{{ perun_apache_container_version }}"
        pull: yes
        state: started
        restart_policy: unless-stopped
        mounts: "{{ apache_mounts }}"
        networks_cli_compatible: yes
        networks:
          - name: perun_net
        network_mode: perun_net
        etc_hosts: "{{ perun_containers_etc_hosts | combine( { 'perun-host': perun_net_info.network.IPAM.Config[0].Gateway }) }}"
        image_name_mismatch: recreate
        comparisons:
          '*': strict
        published_ports:
          - '0.0.0.0:80:80'
          - '443:443'
        default_host_ip: ''
      register: perun_apache_container

    - name: "put container IP into /etc/hosts"
      lineinfile:
        dest: /etc/hosts
        regexp: "{{ perun_apache_container.container.Config.Hostname }}"
        line: "{{ perun_apache_container.container.NetworkSettings.Networks.perun_net.IPAddress }} {{ perun_apache_container.container.Config.Hostname }}"
