- name: "create /etc/systemd/journald.conf.d/"
  file:
    path: /etc/systemd/journald.conf.d
    state: directory
    owner: root
    group: root
    mode: '0544'

- name: "get disk for /var/log"
  ansible.builtin.command: "findmnt --noheadings --output source -T /var/log"
  changed_when: false
  register: fm

- name: "get disk info for {{ fm.stdout }}"
  set_fact:
    log_disk: "{{ ( ansible_facts['mounts'] | community.general.json_query('[?device==`' + fm.stdout + '`]') )[0] }}"

- name: "configure journald in /etc/systemd/journald.conf.d/perun.conf"
  copy:
    dest: /etc/systemd/journald.conf.d/perun.conf
    content: "{{ perun_journald_config }}"
  register: perunjourconf

- name: "reload journald configuration"
  when: perunjourconf.changed
  systemd_service:
    name: systemd-journald
    state: restarted
