{{ ansible_managed | comment }}

ServerName {{ perun_rpc_hostname }}

<VirtualHost *:80>

  ServerAdmin {{ perun_email }}
  ServerName {{ perun_rpc_hostname }}
{% for item in perun_rpc_hostname_aliases %}
  ServerAlias {{ item }}
{% endfor %}
  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

# Support Federated and Kerberos authz on single instance
# Shib module otherwise occupy "Require valid-user" option
ShibCompatValidUser on

<VirtualHost *:443>

  ServerAdmin {{ perun_email }}
  ServerName {{ perun_rpc_hostname }}
{% for item in perun_rpc_hostname_aliases %}
  ServerAlias {{ item }}
{% endfor %}

  DocumentRoot /var/www/html
  <Directory "/var/www/html">
    Options -Indexes +FollowSymLinks -MultiViews
    Require all granted
  </Directory>

  Alias /img /etc/perun/apache/img
  <Directory "/etc/perun/apache/img">
    Options -Indexes -FollowSymLinks -MultiViews
    Require all granted
  </Directory>

  Alias /.well-known /etc/perun/apache/well-known
  <Directory "/etc/perun/apache/well-known">
    Options -Indexes -FollowSymLinks -MultiViews
    Require all granted
  </Directory>

{% if perun_apache_enable_wayf_config %}
  Alias /wayf /etc/perun/apache/wayf
  <Directory /etc/perun/apache/wayf/>
    Options -Indexes -FollowSymLinks -MultiViews
    Require all granted
  </Directory>
{% endif %}

{% if perun_apache_enable_robots_config %}
  Alias /ai.txt /etc/perun/apache/robots/ai.txt
  Alias /robots.txt /etc/perun/apache/robots/robots.txt
  <Directory /etc/perun/apache/robots/>
    Options -Indexes -FollowSymLinks -MultiViews
    Require all granted
  </Directory>
{% endif %}

  # GENERIC ERRORS
  ErrorDocument 401 /maintenance/401.html
  ErrorDocument 403 /maintenance/403.html
  ErrorDocument 404 /maintenance/404.html
  ErrorDocument 500 /maintenance/500.html
  ErrorDocument 502 /maintenance/502.html
  ErrorDocument 503 /maintenance/503.html

  #### SSL

  SSLEngine on

  SSLCertificateFile /etc/perun/ssl/hostcert.pem
  SSLCertificateKeyFile /etc/perun/ssl/hostkey.pem
  SSLCertificateChainFile /etc/perun/ssl/hostchain.pem

{% if perun_apache_igtf_certs and not perun_apache_cert_hostname_enabled %}
  # SSL client certificates authentication
  SSLCACertificatePath /etc/grid-security/certificates/
  SSLCADNRequestFile /etc/grid-security/accepted_cas.pem
  SSLVerifyDepth 5
  SSLVerifyClient optional
  SSLOptions +LegacyDNStringFormat
{% endif %}

  # Increasing limits on HTTP headers. Connector packetSize in Tomcat must be set to bigger value than ProxyIOBufferSize here.
  # https://httpd.apache.org/docs/2.4/mod/core.html#limitrequestfieldsize
  LimitRequestFieldSize 65000
  # https://httpd.apache.org/docs/2.4/mod/mod_proxy.html#proxyiobuffersize
  ProxyIOBufferSize 65520

  #### SECURITY

  # HTTP tracing
  TraceEnable off
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options
  Header always set X-Frame-Options DENY
  # https://scotthelme.co.uk/hsts-the-missing-link-in-tls/
  Header always set Strict-Transport-Security "max-age=63072000"
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options
  Header always set X-Content-Type-Options nosniff
  # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-xss-protection
  Header always set X-XSS-Protection "1; mode=block"
  # https://scotthelme.co.uk/content-security-policy-an-introduction/
  Header always set Content-Security-Policy "default-src 'self' {{ perun_apache_csp_default_src }} ; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/ {{ perun_apache_csp_script_src }} ; frame-src https://www.google.com/recaptcha/ {{ perun_apache_csp_frame_src }} ; style-src 'self' 'unsafe-inline' {{ perun_apache_csp_style_src }}; font-src 'self' {{ perun_apache_csp_font_src }} ; img-src 'self' data: {{ perun_apache_csp_img_src }} ; ; connect-src 'self' {{ perun_apache_csp_connect_src }}"
  # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
  Header always set Referrer-Policy "no-referrer-when-downgrade"
  # https://scotthelme.co.uk/a-new-security-header-feature-policy/
  Header always set Feature-Policy "accelerometer 'none'; autoplay 'none'; camera 'none'; geolocation 'none'; microphone 'none'; payment 'none'"
  # https://scotthelme.co.uk/goodbye-feature-policy-and-hello-permissions-policy/
  Header always set Permissions-Policy "accelerometer=(), autoplay=(), camera=(), geolocation=(), microphone=(), payment=()"

  # Disable browser caching for our html/rpc resources
  Header always set Cache-Control "no-cache, no-store, max-age=0, must-revalidate" "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|oldgui|pwd-reset|ic|registrar|profile)(/|(.*).nocache.js)|rpc/(.*))$#"
  Header always set Pragma no-cache "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|oldgui|pwd-reset|ic|registrar|profile)(/|(.*).nocache.js)|rpc/(.*))$#"
  Header always set Expires 0 "expr=%{REQUEST_URI} =~ m#^/(.*)/((gui|oldgui|pwd-reset|ic|registrar|profile)(/|(.*).nocache.js)|rpc/(.*))$#"

{% if perun_rpc_cors_domains %}
  # CORS headers
  # match Origin header value against list of allowed domains
  SetEnvIfExpr "%{HTTP:Origin} in { {% for i in perun_rpc_cors_domains %}'{{ i }}'{% if not loop.last %},{% endif %}{% endfor %} }" cors_origin_matched
  # sets Access-Control-Allow-Origin and Vary if Origin value matched
  Header onsuccess unset Access-Control-Allow-Origin "env=cors_origin_matched"
  Header always set Access-Control-Allow-Origin "expr=%{HTTP:Origin}" "env=cors_origin_matched"
  # Allow tomcat session cookie to be sent with a request to API to prevent internal session reinitialization
  Header onsuccess edit Set-Cookie (.*)Strict(.*) "$1None$2" "env=cors_origin_matched"
  Header onsuccess set Access-Control-Allow-Credentials "true" "env=cors_origin_matched"
  # for pre-fly requests set more headers
  <If "-T reqenv('cors_origin_matched') && %{REQUEST_METHOD} == 'OPTIONS'">
    Header onsuccess unset Access-Control-Allow-Methods
    Header onsuccess unset Access-Control-Allow-Headers
    Header onsuccess unset Access-Control-Max-Age
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type"
    Header always set Access-Control-Max-Age "86400"
  </If>
{% endif %}

  #### REWRITE

  RewriteEngine On

  # Protection against proxy attacks
  RewriteCond  %{REQUEST_URI}  !^$
  RewriteCond  %{REQUEST_URI}  !^/
  RewriteRule  .*              -    [R=400,L]

{{ perun_apache_special_config1 }}

{% if perun_apache_in_maintenance %}
  ####################################
  ##      MAINTENANCE             ####
  ####################################
  RewriteCond %{REQUEST_URI} !^/ba/
  RewriteCond %{REQUEST_URI} !^/maintenance/
  RewriteCond %{REQUEST_URI} !^/Shibboleth.sso/
  RewriteCond %{REQUEST_URI} !^/external/
  RewriteCond %{REQUEST_URI} !^/static/
  RewriteCond %{REQUEST_URI} !^/img/
  RewriteRule .* /maintenance/maintenance.html [R,L]
{% endif %}

{% if perun_apache_default_gui_enabled %}
  ####################################
  ##     Default GUI              ####
  ####################################
{% if perun_apache_old_admin_gui_disabled %}
  RewriteRule ^[/]?$ https://{{ perun_ngui_admin_hostname }} [L]
{% else %}
  RewriteRule ^[/]?$ https://%{HTTP_HOST}/{{ perun_apache_gui_default_auth }}/gui/ [L]
{% endif %}
{% endif %}
{% if perun_apache_default_profile_enabled %}
  ####################################
  ##     Default Profile          ####
  ####################################
{% if perun_apache_old_profile_disabled %}
  RewriteRule ^[/]?$ https://{{ perun_ngui_profile_hostname }} [L]
{% else %}
  RewriteRule ^[/]?$ https://%{HTTP_HOST}/{{ perun_apache_profile_default_auth }}/profile/ [L]
{% endif %}
{% endif %}

  ####################################
  ##     RPC                      ####
  ####################################

  <Proxy "ajp://{{ perun_rpc_container.container.Config.Hostname }}:8009/">
    ProxySet secret={{ perun_rpc_ajp_secret }}
  </Proxy>
  # General rewrite rule
  RewriteRule ^/(.*)/rpc/(.*)$ ajp://{{ perun_rpc_container.container.Config.Hostname }}:8009/perun-rpc/$2 [P,QSA,E=AJP_CSRF_PROTECTION_ENABLED:{{ perun_apache_csrf_protection_enabled | bool | to_json }},E=AJP_SSL_CLIENT_VERIFY:%{SSL:SSL_CLIENT_VERIFY},E=AJP_SSL_CLIENT_I_DN:%{SSL:SSL_CLIENT_I_DN},E=AJP_SSL_CLIENT_S_DN:%{SSL:SSL_CLIENT_S_DN},E=AJP_SSL_CLIENT_CERT:%{SSL:SSL_CLIENT_CERT}]

{{ perun_apache_other_rewrites }}
  ####################################
  ##     GUI                      ####
  ####################################
{% if perun_apache_old_admin_gui_disabled %}
  RewriteRule ^/gui[/]?$ https://{{ perun_ngui_admin_hostname }} [L,R=301]
  RewriteRule ^/(.*)/gui(.*)$ https://{{ perun_ngui_admin_hostname }} [L,R=301]
{% else %}
  RewriteRule ^/gui[/]?$ https://%{HTTP_HOST}/{{ perun_apache_gui_default_auth }}/gui/ [L,R=301]
  RewriteRule ^/(.*)/gui$ https://%{HTTP_HOST}/$1/gui/ [L,R=301]
  RewriteRule ^/(.*)/gui/$ /var/www/perun-web-gui/PerunWeb{{ perun_apache_gui_html_suffix }}.html [L]
  RewriteRule ^/(.*)/gui/(.+)$ /var/www/perun-web-gui/$2 [L]
{% endif %}

  ####################################
  ##     Registrar                ####
  ####################################
  RewriteCond %{REQUEST_URI} ^/(.*)/registrar$
  RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

  RewriteRule ^/registrar[/]?$ https://%{HTTP_HOST}/{{ perun_apache_registrar_default_auth }}/registrar/ [L,R=301]
  RewriteRule ^/(.*)/registrar/?$ /var/www/perun-wui/PerunRegistrar{{ perun_apache_registrar_html_suffix }}.html [L]
  RewriteRule ^/(.*)/registrar/(.+)$ /var/www/perun-wui/$2 [L]

  ####################################
  ##     Password Reset           ####
  ####################################
{% if perun_apache_old_pwdreset_disabled %}
  RewriteRule ^/pwd-reset[/]?$ https://{{ perun_ngui_pwdreset_hostname }} [QSA,L,R=301]
  RewriteRule ^/(.*)/pwd-reset(.*)$ https://{{ perun_ngui_pwdreset_hostname }} [QSA,L,R=301]
{% else %}
  RewriteRule ^/(.*)/pwd-reset$ https://%{HTTP_HOST}/$1/pwd-reset/ [L,R=301]
  RewriteRule ^/(.*)/pwd-reset/$ /var/www/perun-wui/PerunPwdReset{{ perun_apache_pwdreset_html_suffix }}.html [L]
  RewriteRule ^/(.*)/pwd-reset/(.+)$ /var/www/perun-wui/$2 [L]
{% endif %}
  ####################################
  ##     Identity Consolidator    ####
  ####################################

{% if perun_apache_consolidator_custom_sp is defined %}
{{ perun_apache_consolidator_custom_sp }}
{% else %}
  # SP endpoint
  <Location "/Consolidator.sso">
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    ShibRequestSetting applicationId consolidator
    Require shib-session
  </Location>
{% if perun_apache_consolidator_forceAuthn %}
  <LocationMatch "^/Consolidator.sso/Login">
    ShibRequestSetting forceAuthn On
  </LocationMatch>
{% endif %}
{% endif %}

{% if  perun_apache_consolidator_rewrite_rules is defined %}
{{ perun_apache_consolidator_rewrite_rules }}
{% else %}
  RewriteRule ^/(krb|cert)-ic/ic$ https://%{HTTP_HOST}/$1/ic/ [L,R=301]
  RewriteRule ^/(krb|cert)-ic/ic/$ /var/www/perun-wui/PerunConsolidator{{ perun_apache_consolidator_html_suffix }}.html [L]
  RewriteRule ^/(krb|cert)-ic/ic/(.+)$ /var/www/perun-wui/$2 [L]

  RewriteRule ^/(.*)-ic/ic$ https://%{HTTP_HOST}/$1/ic/ [L,R=301]
  RewriteRule ^/(.*)-ic/ic/$ /var/www/perun-wui/PerunConsolidator{{ perun_apache_consolidator_html_suffix }}.html [L]
  RewriteRule ^/(.*)-ic/ic/(.+)$ /var/www/perun-wui/$2 [L]

  #must be last
  RewriteRule ^/(.*)/ic$ https://%{HTTP_HOST}/$1-ic/ic/ [L,NE,R=301]
  RewriteRule ^/(.*)/ic/(.*)$ https://%{HTTP_HOST}/$1-ic/ic/$2 [L,NE,R=301]
{% endif %}

  ####################################
  ##     PROFILE                  ####
  ####################################
{% if perun_apache_old_profile_disabled %}
  RewriteRule ^/profile[/]?$ https://{{ perun_ngui_profile_hostname }} [L,R=301]
  RewriteRule ^/(.*)/profile(.*)$ https://{{ perun_ngui_profile_hostname }} [L,R=301]
{% else %}
  RewriteRule ^/profile[/]?$ https://%{HTTP_HOST}/{{ perun_apache_profile_default_auth }}/profile/ [L,R=301]
  RewriteRule ^/(.*)/profile$ https://%{HTTP_HOST}/$1/profile/ [L,R=301]
  RewriteRule ^/(.*)/profile/$ /var/www/perun-wui/PerunProfile{{ perun_apache_profile_html_suffix }}.html [L]
  RewriteRule ^/(.*)/profile/(.+)$ /var/www/perun-wui/$2 [L]
{% endif %}

  ####################################
  ##     AuthN Methods            ####
  ####################################

  # HTTP Basic Authentication with username and password
  <LocationMatch "^/ba/">
    Options FollowSymLinks
    SSLRequireSSL
    SSLVerifyClient none
    AuthType basic
    AuthName "Perun RPC"
    <LimitExcept OPTIONS>
      Require valid-user
    </LimitExcept>
    AuthBasicProvider file
    AuthUserFile /etc/perun/apache/perun.passwd
    SetEnvIf _ .* AJP_EXTSOURCE=INTERNAL
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceInternal
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>

{% if perun_apache_igtf_certs and not perun_apache_cert_hostname_enabled %}
  # authentication with X509 client certificates
  <LocationMatch "(^/cert/|^/cert-ic/)">
    Options FollowSymLinks
    Require expr "%{SSL_CLIENT_VERIFY} == 'SUCCESS'"
    SSLOptions +StdEnvVars +ExportCertData +LegacyDNStringFormat
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceX509
    SetEnvIf _ .* AJP_EXTSOURCELOA=2
  </LocationMatch>
{% endif %}

{% if perun_apache_fed_enabled %}
  # authentication with SAML/Shibboleth
{% for item in perun_apache_fed_initiators %}
  <LocationMatch "^/{{ item.url }}/">
    AuthType shibboleth
    ShibRequestSetting applicationId {{ item.applicationId }}
    ShibRequestSetting requireSession 1
{% if item.id is defined %}
    ShibRequestSetting requireSessionWith {{ item.id }}
{% endif %}
{% if item.entityID is defined %}
    ShibRequestSetting entityID {{ item.entityID }}
{% endif %}
    Require shib-session
  </LocationMatch>

  <LocationMatch "^/{{ item.url }}-ic/">
    AuthType shibboleth
{% if item.consolidatorApplicationId is defined %}
    ShibRequestSetting applicationId {{ item.consolidatorApplicationId }}
{% else %}
    ShibRequestSetting applicationId consolidator
{% endif %}
    ShibRequestSetting requireSession 1
{% if item.id is defined %}
    ShibRequestSetting requireSessionWith {{ item.id }}
{% endif %}
    ShibRequestSetting forceAuthn On
{% if item.entityID is defined %}
    ShibRequestSetting entityID {{ item.entityID }}
{% endif %}
    Require shib-session
  </LocationMatch>

{% endfor %}
{% endif %}

{% if perun_apache_non_enabled %}
  <LocationMatch "^/non/">
    Options FollowSymLinks
    Require all granted
    SSLVerifyClient none

    SetEnvIf _ .* AJP_EXTSOURCE=LOCAL
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceInternal
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>
{% endif %}

{% if perun_apache_kerberos_enabled %}
  # authentication with Kerberos
{% for krbrealm in perun_apache_kerberos_realms %}
  <LocationMatch "{{ krbrealm.urlmatch }}">
    Options FollowSymLinks
    SSLRequireSSL
    AuthType KerberosV5
    AuthName "Kerberos {{ krbrealm.name }}"
    Require valid-user
    Krb5Keytab /etc/perun/apache/krb5.http.keytab
    KrbAuthRealms {{ krbrealm.name }}
    KrbSaveCredentials Off
    KrbMethodNegotiate On
    KrbMethodK5Passwd On
    KrbServiceName Any
    KrbVerifyKDC Off
    SetEnvIf _ .* AJP_EXTSOURCE={{ krbrealm.name }}
    SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceKerberos
    SetEnvIf _ .* AJP_EXTSOURCELOA=0
  </LocationMatch>
{% endfor %}
{% endif %}

{% if not perun_api_enabled %}
  ###########################
  # OAuth2/OIDC             #
  ###########################

  OIDCOAuthIntrospectionEndpoint    {{ perun_apache_oauth_introspection_url }}
  OIDCOAuthTokenIntrospectionInterval {{ perun_apache_oauth_introspection_cache_timeout_seconds }}
  OIDCOAuthClientID      {{ perun_apache_oauth_client_id }}
  OIDCOAuthClientSecret  {{ perun_apache_oauth_client_secret }}
  OIDCOAuthAcceptTokenAs header
  OIDCOAuthAcceptTokenAs post
  OIDCOAuthAcceptTokenAs query
  OIDCCryptoPassphrase tcXtrGbIlRWXkrT7
  OIDCCacheEncrypt On
  OIDCClaimPrefix AJP_OIDC_CLAIM_
  <LocationMatch "^/oauth/">
    SSLRequireSSL
    Authtype oauth20
    Require valid-user
  </LocationMatch>
{% endif %}

{{ perun_apache_special_config2 }}
</VirtualHost>
