{{ ansible_managed | comment }}

####
# Perun GUI for X.509 (certs), supports only old identity consolidator
####

<VirtualHost *:80>
    ServerAdmin {{ perun_email }}
    ServerName {{ perun_apache_cert_hostname }}
{% for alias in perun_apache_cert_hostname_aliases %}
    ServerAlias {{ alias }}
{% endfor %}
    Redirect / https://{{ perun_apache_cert_hostname }}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ perun_email }}
    ServerName {{ perun_apache_cert_hostname }}
{% for alias in perun_apache_cert_hostname_aliases %}
    ServerAlias {{ alias }}
{% endfor %}

    DocumentRoot /var/www/html
    <Directory "/var/www/html">
    Options -Indexes +FollowSymLinks -MultiViews
    Require all granted
    </Directory>

    Alias /img /etc/perun/apache/img
    <Directory "/etc/perun/apache/img">
    Options -Indexes -FollowSymLinks -MultiViews
    Require all granted
    </Directory>

    Alias /.well-known /etc/perun/apache/well-known
    <Directory "/etc/perun/apache/well-known">
    Options -Indexes -FollowSymLinks -MultiViews
    Require all granted
    </Directory>

{% if perun_apache_enable_wayf_config %}
    Alias /wayf /etc/perun/apache/wayf
    <Directory /etc/perun/apache/wayf/>
        Options -Indexes -FollowSymLinks -MultiViews
        Require all granted
    </Directory>
{% endif %}

{% if perun_apache_enable_robots_config %}
    Alias /ai.txt /etc/perun/apache/robots/ai.txt
    Alias /robots.txt /etc/perun/apache/robots/robots.txt
    <Directory /etc/perun/apache/robots/>
      Options -Indexes -FollowSymLinks -MultiViews
      Require all granted
    </Directory>
{% endif %}

    # GENERIC ERRORS
    ErrorDocument 401 /maintenance/401.html
    ErrorDocument 403 /maintenance/403.html
    ErrorDocument 404 /maintenance/404.html
    ErrorDocument 500 /maintenance/500.html
	ErrorDocument 502 /maintenance/502.html
    ErrorDocument 503 /maintenance/503.html

    RewriteEngine On

    ProxyIOBufferSize 65536

    SSLEngine on
{% if perun_use_certbot_certificates %}
    SSLCertificateFile /etc/letsencrypt/live/multi/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/multi/privkey.pem
{% elif perun_api_tls_cert_same_as_host %}
    SSLCertificateFile /etc/perun/ssl/hostcert.pem
    SSLCertificateKeyFile /etc/perun/ssl/hostkey.pem
    SSLCertificateChainFile /etc/perun/ssl/hostchain.pem
{% else %}
    SSLCertificateFile /etc/perun/ssl/{{ perun_cert_prefix }}cert.pem
    SSLCertificateKeyFile /etc/perun/ssl/{{ perun_cert_prefix }}key.pem
    SSLCertificateChainFile /etc/perun/ssl/{{ perun_cert_prefix }}chain.pem
{% endif %}


    # SSL client certificates authentication
    SSLCACertificatePath /etc/grid-security/certificates/
    SSLCADNRequestFile /etc/grid-security/accepted_cas.pem
    SSLVerifyDepth 5
    SSLVerifyClient optional
    SSLOptions +LegacyDNStringFormat
	SSLCARevocationCheck chain
	SSLCARevocationPath /etc/grid-security/certificates/

    LogLevel warn ssl:warn rewrite:warn

    #### SECURITY

    # HTTP tracing
    TraceEnable off
    # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-frame-options
    Header always set X-Frame-Options SAMEORIGIN
    # https://scotthelme.co.uk/hsts-the-missing-link-in-tls/
    Header always set Strict-Transport-Security "max-age=63072000"
    # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-content-type-options
    Header always set X-Content-Type-Options nosniff
    # https://scotthelme.co.uk/hardening-your-http-response-headers/#x-xss-protection
    Header always set X-XSS-Protection "1; mode=block"
    # https://scotthelme.co.uk/a-new-security-header-referrer-policy/
    Header always set Referrer-Policy "no-referrer-when-downgrade"

    # Disable browser caching for our RPC resources
    Header always set Cache-Control "no-cache, no-store, max-age=0, must-revalidate" "expr=%{REQUEST_URI} =~ m#^/(.*)/rpc/(.*)$#"
    Header always set Pragma no-cache "expr=%{REQUEST_URI} =~ m#^/(.*)/rpc/(.*)$#"
    Header always set Expires 0 "expr=%{REQUEST_URI} =~ m#^/(.*)/rpc/(.*)$#"

{% if perun_apache_enable_wayf_config %}
    # Anything, that is not /cert/ or /wayf/ redirect to base hostname, include maintenance
    RewriteRule !(^/cert|^/wayf|^/maintenance|^/static) {{ perun_rpc_hostname }}%{REQUEST_URI} [L,R=301]
{% else %}
    # Anything, that is not /cert/ redirect to base hostname, include maintenance
    RewriteRule !(^/cert|^/maintenance|^/static) {{ perun_rpc_hostname }}%{REQUEST_URI} [L,R=301]
{% endif %}

    ####################################
    ##     RPC                      ####
    ####################################

    <Proxy "ajp://{{ perun_rpc_container.container.Config.Hostname }}:8009/">
    ProxySet secret={{ perun_rpc_ajp_secret }}
    </Proxy>

    RewriteRule ^/(.*)/rpc/(.*)$ ajp://{{ perun_rpc_container.container.Config.Hostname }}:8009/perun-rpc/$2 [P,QSA,E=AJP_CSRF_PROTECTION_ENABLED:{{ perun_apache_csrf_protection_enabled | bool | to_json }},E=AJP_SSL_CLIENT_VERIFY:%{SSL:SSL_CLIENT_VERIFY},E=AJP_SSL_CLIENT_I_DN:%{SSL:SSL_CLIENT_I_DN},E=AJP_SSL_CLIENT_S_DN:%{SSL:SSL_CLIENT_S_DN},E=AJP_SSL_CLIENT_CERT:%{SSL:SSL_CLIENT_CERT}]

    ####################################
    ##     Identity Consolidator    ####
    ####################################

    RewriteRule ^/cert-ic/ic$ https://%{HTTP_HOST}/cert-ic/ic/ [L,R=301]
    RewriteRule ^/cert-ic/ic/$ /var/www/perun-wui/PerunConsolidator{{ perun_apache_consolidator_cert_html_suffix }}.html [L]
    RewriteRule ^/cert-ic/ic/(.+)$ /var/www/perun-wui/$1 [L]

    #must be last
    RewriteRule ^/cert/ic$ https://%{HTTP_HOST}/cert-ic/ic/ [L,NE,R=301]
    RewriteRule ^/cert/ic/(.*)$ https://%{HTTP_HOST}/cert-ic/ic/$1 [L,NE,R=301]

    ####################################
    ##     AuthN Methods            ####
    ####################################

    # authentication with X509 client certificates
    <LocationMatch "(^/cert/|^/cert-ic/)">
        Options FollowSymLinks
        Require expr "%{SSL_CLIENT_VERIFY} == 'SUCCESS'"
        SSLOptions +StdEnvVars +ExportCertData +LegacyDNStringFormat
        SetEnvIf _ .* AJP_EXTSOURCETYPE=cz.metacentrum.perun.core.impl.ExtSourceX509
        SetEnvIf _ .* AJP_EXTSOURCELOA=2
    </LocationMatch>

</VirtualHost>
