<configuration packagingData="false" debug="false" scan="false" scanPeriod="30 seconds">

    <appender class="org.gnieh.logback.SystemdJournalAppender" name="journal">
        <syslogIdentifier>perun_ldapc</syslogIdentifier>
        <logLoggerName>true</logLoggerName>
        <encoder>
            <pattern>%-5level %logger{35} - %msg</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="journal" />
    </root>

    <logger name="cz.metacentrum.perun.ldapc" level="debug"/>

    <!-- keep Spring quiet -->
    <logger name="org.springframework" level="warn"/>

</configuration>
