{% if perun_apps_config is defined %}
{{ perun_apps_config }}
{% else %}
brands:
  - name: default
    new_apps:
      api: "https://{{ perun_api_hostname }}"
      admin: "https://{{ perun_ngui_admin_hostname }}"
      profile: "https://{{ perun_ngui_profile_hostname }}"
      pwd_reset: "https://{{ perun_ngui_pwdreset_hostname }}"
      publications: "https://{{ perun_ngui_publications_hostname }}"
      consolidator: "https://{{ perun_ngui_consolidator_hostname }}"
      linker: "https://{{ perun_ngui_linker_hostname }}"
    old_gui_domain: "https://{{ perun_rpc_hostname }}"
{% for item in perun_rpc_hostname_aliases %}
  - name: {{ item }}
    new_apps:
      admin: ""
      profile: ""
      pwd_reset: ""
      publications: ""
      consolidator: ""
      linker: ""
    old_gui_domain: "https://{{ item }}"
{% endfor %}
{% endif %}
