{{ ansible_managed | comment }}

ldap.url={{ perun_ldap_url }}
ldap.base={{ perun_ldap_basedn }}
ldap.userDn={{ perun_ldap_data_admin_dn }}
ldap.password={{ perun_ldap_data_password }}
ldap.consumerName=ldapcConsumer
ldap.loginNamespace={{ perun_ldap_sasl_login_namespace }}
ldap.stateFile=./perun-ldapc-last-state
