{
  "default_instance": "perun-host",
  "instances": {
    "perun-host": {
      "issuer": "",
      "metadata_url": "",
      "client_id": "",
      "scopes": "openid perun_api perun_admin offline_access",
      "perun_api_url": "",
      "perun_api_url_ba": "https://{{ perun_api_for_cli_hostname }}/ba/rpc/",
      "perun_api_url_krb": "",
      "mfa": false
    }
  }
}
