# Secret key for authentication messages
secretKey={{ perun_registrar_secretKey }}

# Backup email adresses
backupFrom={{ perun_registrar_backupFrom }}
backupFromName={{ perun_registrar_backupFromName }}
backupTo={{ perun_registrar_backupTo }}
replyTo={{ perun_registrar_replyTo }}
replyToName={{ perun_registrar_replyToName }}
