# RFC 9116 security vulnerability disclosure practices https://www.rfc-editor.org/rfc/rfc9116
{% for contact in perun_security_contacts %}
Contact: {{ contact }}
{% endfor %}
{% if perun_security_encryption %}
Encryption: {{ perun_security_encryption }}
{% endif %}
Expires: {{ (now().year + 1) | string + ( '-01-01' if now().month < 6 else '-06-01' ) + 'T00:00:00Z' }}
Policy: {{ perun_security_policy }}
Preferred-Languages: {{ perun_security_preferred_languages }}
Canonical: https://{{ perun_rpc_hostname }}/.well-known/security.txt
{% for cert_item in other_certs %}
{% if lookup('vars', cert_item.cond) %}
Canonical: https://{{ lookup('vars', cert_item.hostname) }}/.well-known/security.txt
{% endif %}
{% for alias in lookup('vars', cert_item.aliases) %}
Canonical: https://{{ alias }}/.well-known/security.txt
{% endfor %}
{% endfor %}
