{# https://perunaai.atlassian.net/wiki/spaces/STRIBOG/pages/3440714/Configuration+of+new+GUI+applications #}
{
  "config": "{{ perun_ngui_consolidator_hostname }}",
{% if perun_ngui_consolidator_api_url is defined %}
  "api_url": "https://{{ perun_ngui_consolidator_api_url }}/oauth/rpc",
{% else %}
  "api_url": "https://{{ perun_api_hostname }}/oauth/rpc",
{% endif %}
  "oidc_client" : {
      "oauth_authority": "{{ perun_ngui_consolidator_oauth_authority }}",
      "oauth_callback": "{{ perun_ngui_consolidator_oauth_callback }}",
      "oauth_client_id": "{{ perun_ngui_consolidator_client_id }}",
      "oauth_redirect_uri": "{{ perun_ngui_consolidator_oauth_redirect_uri }}",
      "oauth_load_user_info": {{ perun_ngui_consolidator_oauth_load_user_info|bool|to_json }},
      "oauth_scopes": "{{ perun_ngui_consolidator_oauth_scopes }}",
      "oauth_response_type": "{{ perun_ngui_consolidator_oauth_response_type }}",
      "oauth_offline_access_consent_prompt": {{ perun_ngui_consolidator_oauth_offline_access_consent_prompt|bool|to_json }},
      "user_info_endpoint_url": "{{ perun_ngui_consolidator_user_info_endpoint_url }}"
    },
  "proxy_logout": {{ perun_ngui_consolidator_proxy_logout|bool|to_json }},
  "document_title": "{{ perun_ngui_consolidator_document_title }}",
  "instance_favicon": {{ perun_ngui_consolidator_instance_favicon|to_json }},
  "path_to_idp_provider_userinfo": {{ perun_ngui_consolidator_path_to_idp_provider_userinfo|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "path_to_idp_logo_userinfo": {{ perun_ngui_consolidator_path_to_idp_logo_userinfo|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "path_to_idp_logo_width_userinfo": {{ perun_ngui_consolidator_path_to_idp_logo_width_userinfo|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "path_to_idp_logo_height_userinfo": {{ perun_ngui_consolidator_path_to_idp_logo_height_userinfo|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "support_mail": "{{ perun_email }}",
  "footer": {{ perun_ngui_footer|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "logo": {{ perun_ngui_logo|to_json }},
  "theme": {{ perun_ngui_theme|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }}
}
