{# https://perunaai.atlassian.net/wiki/spaces/STRIBOG/pages/3440714/Configuration+of+new+GUI+applications #}
{
  "config": "admin {{ perun_ngui_admin_hostname }}",
{% if perun_ngui_admin_api_url is defined %}
  "api_url": "{{ perun_ngui_admin_api_url }}",
{% elif perun_ngui_admin_api_hostname is defined %}
  "api_url": "https://{{ perun_ngui_admin_api_hostname }}/oauth/rpc",
{% else %}
  "api_url": "https://{{ perun_api_hostname }}/oauth/rpc",
{% endif %}
  "document_title": {
    "en": "{{ perun_ngui_admin_document_title }}"
  },
  "header_label_en": "{{ perun_ngui_admin_header_label_en }}",
  "header_label_cs": "{{ perun_ngui_admin_header_label_cs }}",
  "instance_favicon": {{ perun_ngui_admin_instance_favicon|to_json }},
{% if perun_ngui_admin_warning_message %}
  "display_warning": true,
  "warning_message": "{{ perun_ngui_admin_warning_message }}",
{% endif %}
  "auto_auth_redirect": {{ perun_ngui_admin_auto_oauth_redirect|to_json }},
  "auto_service_access_redirect": {{ perun_ngui_admin_auto_service_access_redirect|to_json }},
  "oidc_client" : {
    "oauth_authority": "{{ perun_ngui_oauth_authority }}",
    "oauth_callback": "{{ perun_ngui_admin_oauth_callback }}",
    "oauth_client_id": "{{ perun_ngui_admin_client_id }}",
    "oauth_post_logout_redirect_uri": "{{  perun_ngui_admin_oauth_post_logout_redirect_uri }}",
    "oauth_redirect_uri": "{{ perun_ngui_admin_oauth_redirect_uri }}",
    "oauth_silent_redirect_uri": "{{ perun_ngui_admin_oauth_silent_redirect_uri }}",
    "oauth_load_user_info": {{ perun_ngui_admin_oauth_load_user_info|bool|to_json }},
    "oauth_scopes": "{{ perun_ngui_admin_oauth_scopes }}",
    "oauth_response_type": "{{ perun_ngui_admin_oauth_response_type }}",
    "oauth_offline_access_consent_prompt": {{ perun_ngui_oauth_offline_access_consent_prompt|bool|to_json }},
    "filters": {{ perun_ngui_admin_oauth_filters|to_nice_json(indent=2,ensure_ascii=False)|indent(4) }}
  },
  "mfa": {{ perun_ngui_mfa|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "proxy_logout": {{ perun_ngui_admin_proxy_logout|bool|to_json }},
  "login_namespace_attributes": {{ perun_ngui_admin_login_namespace_attributes|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "password_namespace_attributes": {{ perun_ngui_admin_password_namespace_attributes|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "password_help": {{ perun_ngui_admin_password_help|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
{% if perun_rpc_group_nameSecondaryRegex is defined %}
  "group_name_secondary_regex": {{ perun_rpc_group_nameSecondaryRegex|to_json }},
{% endif %}
{% if perun_rpc_group_nameErrorMessage is defined %}
  "group_name_error_message": {{ perun_rpc_group_nameErrorMessage|to_json }},
{% endif %}
  "supported_languages": {{ perun_ngui_admin_supported_languages|to_json }},
  "member_profile_attributes_friendly_names": {{ perun_ngui_admin_member_profile_attributes_friendly_names|to_json }},
  "footer": {{ perun_ngui_footer|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "log_out_enabled": {{ perun_ngui_admin_log_out_enabled|bool|to_json }},
  "other_apps": {{ perun_ngui_admin_other_apps|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "other_apps_custom": {{ perun_ngui_admin_other_apps_custom|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "logo": {{ perun_ngui_logo|to_json }},
  "theme": {{ perun_ngui_theme|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "brandings": {{ perun_ngui_admin_brandings|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "user_deletion_forced": {{ perun_ngui_admin_user_deletion_forced|bool|to_json }},
  "enforce_consents": {{ perun_ngui_admin_enforce_consents|bool|to_json }},
  "export_limit": {{ perun_ngui_table_export_limit }},
  "display_search": {{ perun_ngui_display_search|bool|to_json }}
}
