{# https://perunaai.atlassian.net/wiki/spaces/STRIBOG/pages/3440714/Configuration+of+new+GUI+applications #}
{
  "document_title": {{ perun_ngui_profile_document_title|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "instance_favicon": {{ perun_ngui_profile_instance_favicon|to_json }},
{% if perun_ngui_profile_api_hostname is defined %}
  "api_url": "https://{{ perun_ngui_profile_api_hostname }}/oauth/rpc",
{% else %}
  "api_url": "https://{{ perun_api_hostname }}/oauth/rpc",
{% endif %}
  "is_devel": {{ perun_oldgui_isDevel|bool|to_json }},
  "auto_auth_redirect": {{ perun_ngui_profile_auto_oauth_redirect|to_json }},
  "supported_languages": {{ perun_ngui_profile_supported_languages|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "oidc_client" : {
    "oauth_authority": "{{ perun_ngui_profile_oauth_authority }}",
    "oauth_callback": "{{ perun_ngui_profile_oauth_callback }}",
    "oauth_client_id": "{{ perun_ngui_profile_client_id }}",
    "oauth_post_logout_redirect_uri": "{{  perun_ngui_profile_oauth_post_logout_redirect_uri }}",
    "oauth_redirect_uri": "{{ perun_ngui_profile_oauth_redirect_uri }}",
    "oauth_scopes": "{{ perun_ngui_profile_oauth_scopes }}",
    "oauth_response_type": "{{ perun_ngui_profile_oauth_response_type }}",
    "oauth_offline_access_consent_prompt": {{ perun_ngui_profile_oauth_offline_access_consent_prompt|to_json }}
  },
  "password_namespace_attributes": {{ perun_ngui_profile_password_namespace_attributes|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "consolidator_base_url": "{{ perun_ngui_profile_consolidator_base_url }}",
  "registrar_base_url": "{{ perun_ngui_profile_registrar_base_url }}",
  "pwd_reset_base_url": "{{ perun_ngui_profile_pwd_reset_base_url }}",
  "profile_page_attributes": {{ perun_ngui_profile_page_attributes|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "mfa": {{ perun_ngui_profile_mfa|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "password_help": {{ perun_ngui_profile_password_help|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "password_help_cs": {{ perun_ngui_profile_password_help_cs|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "display_identity_certificates": {{ perun_ngui_profile_display_identity_certificates|to_json }},
  "external_services": {{ perun_ngui_profile_external_services|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "displayed_tabs": {{ perun_ngui_profile_displayed_tabs|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "custom_labels": {{ perun_ngui_profile_custom_labels|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "header_label_en": "{{ perun_ngui_profile_header_label_en }}",
  "header_label_cs": "{{ perun_ngui_profile_header_label_cs }}",
  "admin_gui_label_en": "{{ perun_ngui_profile_admin_gui_label_en }}",
  "admin_gui_label_cs": "{{ perun_ngui_profile_admin_gui_label_cs }}",
  "link_to_admin_gui_by_roles": {{ perun_ngui_profile_link_to_admin_gui_by_roles|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "preferred_unix_group_names": {{ perun_ngui_profile_preferred_unix_group_names|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "footer": {{ perun_ngui_profile_footer|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "theme": {{ perun_ngui_profile_theme|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "log_out_enabled": {{ perun_ngui_profile_log_out_enabled|to_json }},
  "logo_padding": {{ perun_ngui_profile_logo_padding|to_json }},
  "logo": {{ perun_ngui_profile_logo|to_json }},
  "brandings": {{ perun_ngui_profile_brandings|to_nice_json(indent=2,ensure_ascii=False)|indent(2) }},
  "use_new_consolidator": {{ perun_ngui_profile_use_new_consolidator|to_json }},
  "local_account_namespace": "{{ perun_ngui_profile_local_account_namespace }}"
}
